<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <meta name="author" content="">
</head>
<body>
    <h2><a href="/">点击返回首页</a></h2>
    <h3>此次花费：<%= time%>ms</h3>
    <h3><%= number%>因数有下：</h3>
    <% for (let i = 0; i <= arr.length; i++) {%>
        <h2><%= arr[i]%></h2>
    <%} %>
</body>
</html>