<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <style>
        body {
            font-family: "Microsoft YaHei", serif;
            user-select: none;
        }

        body, dl, dd, p, h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        ol, ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        img {
            border: none;
            display: block;
        }

        a {
            color: #000;
        }
    </style>
</head>
<body>
    <div class="success">
        <h2>操作成功！！！</h2>
        <a href="/coursetype/index">点我返回首页</a>
    </div>
</body>
</html>


