<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <meta name="author" content="">
    <style>
        body {
            font-family: "Microsoft YaHei", serif;
        }

        body, dl, dd, p, h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        ol, ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        img {
            border: none;
            display: block;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
    <link type="text/css"  rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="index">
        <h2>课程费用管理系统</h2>
        <nav>
            <a class="operate" href="/coursefee/add">增加课程费用信息</a>
            <a class="operate" href="/coursefee/delete">删除课程费用信息</a>
            <a class="operate" href="/coursefee/edit">编辑课程费用信息</a>
        </nav>
        <table>
            <tbody>
                <tr>
                    <td>课程费用编号(key)</td>
                    <td>课程编号(key)</td>
                    <td>费用详情 *</td>
                    <td>费用 *</td>
                </tr>
                <%for (let i=0,len=result.length;i<len;i++){%>
                <%let rows = result[i]%>
                <tr>
                    <td><%=rows['courseFeeNo']%></td>
                    <td><%=rows['courseNo']%></td>
                    <td><%=rows['feeDescription']%></td>
                    <td><%=rows['fee']%></td>
                </tr>
                <%}%>
            </tbody>
        </table>
        <h2><a href='/'>跳转至首页</a></h2>
    </div>
</body>
</html>


