<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <meta name="author" content="">
    <style>
        body {
            font-family: "Microsoft YaHei", serif;
            user-select: none;
        }

        body, dl, dd, p, h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        ol, ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        img {
            border: none;
            display: block;
        }

        a {
            text-decoration: none;
            color: #000;
        }
        .add{
            width: 500px;
        }
    </style>
    <link type="text/css" href="/css/index.css" rel="stylesheet">
</head>
<body>
    <div class="add">
        <form action="/coursefee/add" method="post">
            课程费用编号：<input type="text" name="courseFeeNo">（08-y-m-d-000）<br/>
            课程编号：<select name="courseNo" id="courseNo"></select><br/>
            费用详情：<input type="text" name="feeDescription"><br/>
            费用：<input type="text" name="fee"><br/>
            <input type="submit" id="submit" value="提交">
            <a href="/coursefee/index">点我返回首页</a>
        </form>
    </div>
    <script src="/js/ajax.js"></script>
    <script>
        const courseNo = document.getElementById('courseNo');
        ajax({
            url: 'http://localhost:3000/course/getCourseID',
            type: 'POST'
        }).then(function(data) {
            const courseArr = JSON.parse(data);
            const frag = document.createDocumentFragment();
            for (let i = 0,len=courseArr.length; i < len; i++) {
                const item = courseArr[i];
                const option = document.createElement('option');
                option.value = item.courseNo;
                option.innerHTML = item.courseNo;
                frag.appendChild(option);
            }
            courseNo.appendChild(frag);
        })
    </script>
</body>
</html>
