#wrap{
    width: 400px;
    height: 200px;
    margin: 50px auto 0;
    padding: 40px 0 0 10px;
    border: 8px solid #f00;
    background-color: #a8d4e8;
}
input{
    margin: 8px 0;
}
a{
    color: #0b24a0;
    text-decoration: underline;
    cursor: pointer;
}
























